In [2]:
import pandas as pd
import numpy as np
file_path = r'D:\Assignments\Assignment One\2\time-series.csv'

In [4]:
df = pd.read_csv(file_path, index_col=0, parse_dates=True)

In [6]:
df

,DK_1_load_MW,DK_1_price_eur_MWh,DK_1_solar_MW,DK_1_wind_MW
timestamp,,,,
2019-01-01 00:00:00,1897.57,28.32,0.0,2967.87
2019-01-01 01:00:00,1837.71,10.07,0.0,3112.61
2019-01-01 02:00:00,1778.86,-4.08,0.0,2610.26
2019-01-01 03:00:00,1726.38,-9.91,0.0,2579.70
2019-01-01 04:00:00,1709.62,-7.41,0.0,2511.79
...,...,...,...,...
2019-12-31 19:00:00,2343.19,33.85,0.0,1474.27
2019-12-31 20:00:00,2184.75,33.54,0.0,1231.68
2019-12-31 21:00:00,2054.01,33.17,0.0,915.95
2019-12-31 22:00:00,1970.77,33.04,0.0,974.21
2019-12-31 23:00:00,1909.93,32.28,0.0,1188.62

In [17]:
units = {
    'DK_1_load_MW': 'MW',
    'DK_1_wind_MW': 'MW',
    'DK_1_solar_MW': 'MW',
    'DK_1_price_eur_MWh': '€/MWh'
}

### Task (a): Means, Min, Max ###
stats = df.agg(['mean', 'min', 'max']).T
stats.columns = ['Mean', 'Min', 'Max']

print("=== Task (a): Mean, Min, Max ===")
for col in stats.index:
    print(f"{col}: Mean = {stats.loc[col, 'Mean']:.2f} {units[col]}, "
          f"Min = {stats.loc[col, 'Min']:.2f} {units[col]}, "
          f"Max = {stats.loc[col, 'Max']:.2f} {units[col]}")

=== Task (a): Mean, Min, Max ===
DK_1_load_MW: Mean = 2325.91 MW, Min = 1418.66 MW, Max = 4952.33 MW
DK_1_price_eur_MWh: Mean = 38.50 €/MWh, Min = -48.29 €/MWh, Max = 109.45 €/MWh
DK_1_solar_MW: Mean = 71.65 MW, Min = 0.00 MW, Max = 530.83 MW
DK_1_wind_MW: Mean = 1440.02 MW, Min = 1.22 MW, Max = 4451.59 MW

In [25]:
### Task (b): Normalized Standard Deviations ###
df_normed = df / df.max()
std_devs = df_normed.std()
max_std_col = std_devs.idxmax()


print(f"{max_std_col} has the highest normalized standard deviation: {std_devs[max_std_col]:.4f}")

DK_1_wind_MW has the highest normalized standard deviation: 0.2267

In [31]:
### Task (c): Negative Electricity Prices ###
neg_prices = df[df['DK_1_price_eur_MWh'] < 0]


print(neg_prices[['DK_1_price_eur_MWh']].tail(10))

print(f"\nTotal number of hours with negative prices: {neg_prices.shape[0]}")

                     DK_1_price_eur_MWh
timestamp
2019-12-08 12:00:00               -6.87
2019-12-08 13:00:00               -2.01
2019-12-08 14:00:00               -0.08
2019-12-08 23:00:00               -6.82
2019-12-09 00:00:00              -11.10
2019-12-09 01:00:00              -15.10
2019-12-09 02:00:00              -16.09
2019-12-09 03:00:00              -14.99
2019-12-09 04:00:00              -12.76
2019-12-09 05:00:00               -5.85

Total number of hours with negative prices: 132

,DK_1_load_MW,DK_1_price_eur_MWh,DK_1_solar_MW,DK_1_wind_MW
timestamp,,,,
2019-01-01 02:00:00,1778.86,-4.08,0.0,2610.26
2019-01-01 03:00:00,1726.38,-9.91,0.0,2579.70
2019-01-01 04:00:00,1709.62,-7.41,0.0,2511.79
2019-01-01 05:00:00,1716.39,-12.55,0.0,2438.70
2019-01-01 06:00:00,1765.16,-17.25,0.0,2663.20
...,...,...,...,...
2019-12-09 01:00:00,2092.43,-15.10,0.0,2456.79
2019-12-09 02:00:00,2086.71,-16.09,0.0,2529.58
2019-12-09 03:00:00,2155.94,-14.99,0.0,2873.28
2019-12-09 04:00:00,2185.28,-12.76,0.0,2784.89
2019-12-09 05:00:00,2298.44,-5.85,0.0,2825.07

In [35]:
# Calculate total renewable generation
renewable_gen = df['DK_1_wind_MW'] + df['DK_1_solar_MW']

# Compare with demand
exceeds_demand = renewable_gen > df['DK_1_load_MW']

# Count percentage
percentage = exceeds_demand.sum() / len(df) * 100

print(f"Wind + Solar generation exceeds demand in {percentage:.2f}% of the hours.")

Wind + Solar generation exceeds demand in 24.18% of the hours.

In [41]:
correlation = df['DK_1_wind_MW'].corr(df['DK_1_price_eur_MWh'])
print(f"✅ Correlation coefficient between wind generation and price: {correlation:.4f}")

✅ Correlation coefficient between wind generation and price: -0.4035